!!!
%html
  %head
    %meta{:charset => 'UTF-8'}
      %title MyApp | Log in
      %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
        %link{:href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', :rel => 'stylesheet', :type => 'text/css'}
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        / WARNING: Respond.js doesn't work if you view the page via file://
        /[if lt IE 9]
      %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'}
      = csrf_meta_tags
  %body.login-page
    .login-box
      .login-logo
        %a{:href => '/'}
          MyApp&nbsp;&nbsp;
          %b
            %i.fa.fa-microphone
      / /.login-logo
      = yield
    / /.login-box
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      $(function () {
          $('input').iCheck({
              checkboxClass: 'icheckbox_square-grey',
              radioClass: 'iradio_square-grey',
              increaseArea: '20%' // optional
          });
      });
